.echart {
    height: 400px;
    width: 100%;
    border: 1px soild red;
    display: block;
  }
  #data-box{
    height: 50px;
    border: 2px solid red;
  }
  .data-control{
    height: 44px;
    border-radius: 4px;
    border:2px solid #5ce191
  }