<div class="row">
    <div class="col-md-3">
        <div class="dropdown" placement="bottom" ngbDropdown>
            <button class="btn btn-outline-success" type="button" ngbDropdownToggle>
                      选择时间
            </button>
            <ul class="dropdown-menu" ngbDropdownMenu>
                <li class="dropdown-item">显示最近一天</li>
                <li class="dropdown-item">显示最近一周</li>
                <li class="dropdown-item">显示最近一月</li>
            </ul>
        </div>
    </div>
  
</div>
<div echarts [options]="options"  class="echart"></div>




