.echart {
    height: 350px;
    width: 100%;
    display: block;
    padding: 5px;
  }
 .row{
   width: 90%;
 }
  #date-length{
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    border: 2px solid #40dc7e;
    line-height: 0px;
  }
  .data-control{
    height: 44px;
    border-radius: 4px;
    border:2px solid #5ce191
  }