table{
    margin-bottom:0;
    width: 100%;
}
td{
   font-size: 16px;
   font-weight: 500;
   color: #000;  

}
.table-header{
   font-size: 18px;
   font-weight: 500;
   line-height: 90px;
}
.table-color{
    background-color: #fff6e5;
}
.br{
    display: none;
}
.BR{
    display: none;
}
@media screen and (max-width:1045px){
    .table-header{
        width: 33%;
     }
    
}
@media screen and (max-width:700px){
    .table-header{
        font-size: 18px;
        line-height: 50px;
     }
     .br{
        display: block;
    }
}
@media screen and (max-width:620px){
    .table-header{
        width: 22%;
        font-size: 16px;
        line-height: 50px;
     }
     .br{
        display: block;
    }

}
@media screen and (max-width:495px){
    .table-header{
        width: 25%;
        font-size: 16px;
        line-height: 50px;
     }
     .br{
        display: block;
    }
    td{
        padding-left: 2;
        padding-right: 0;
    }
}
@media screen and (max-width:460px){
    .table-header{
        width: 25%;
        font-size: 16px;
        line-height: 50px;
     }
     .br{
        display: block;
    }
    .BR{
        display: block;
    }
    td{
        padding-left: 2;
        padding-right: 0;
    }
}

@media screen and (max-width:400px){
    .table-header{
        width: 29%;
        font-size: 16px;
        line-height: 50px;
     }
     .br{
        display: block;
    }
    .BR{
        display: block;
    }
    td{
        padding-left: 2;
        padding-right: 0;
    }
}