.echart {
    height: 350px;
    width: 100%;
    border: 1px soild red;
  }
  #date-length{
    margin-left: 20px;
    margin-top: 10px;
    height: 40px;
    border: 2px solid #40dc7e;
    line-height: 0px;
  }