<nb-card>
  <nb-card-header>
    <span i18n='@@snrWeeklyReport'>上行通道信噪比全网周报表</span>
  </nb-card-header>
  <nb-card-body>
     <div class="tab-head">
       <label  (click)='show1()' [class.selected]="show_detail1"><i class="iconfont icon-bingtu"></i>饼状图</label>
       <label  (click)='show2()' [class.selected]="show_detail2"><i class="iconfont icon-quxiantu"></i>曲线图</label>
     </div>
     
     <div class="row">
        <div class="col-md-12" *ngIf='show_detail1'>
            <tw-snr-body></tw-snr-body>
        </div>
        <div class="col-md-12" *ngIf='show_detail2'>
            <tw-snr-line></tw-snr-line>
        </div>
     </div>
     
       
      
   
          
      
     
    
  </nb-card-body>
</nb-card>
