ul.items{
    list-style-type:none;
    font-family: Exo;
    font-weight: 500;
}
ul.items>li{
    padding-top: 1.509rem;
    padding-bottom: 1.509rem;
}
ul.items>li:first-child{
    // padding-top: 0.25rem;
    padding-top: 0.69125rem;
    // padding-bottom: 1.4rem;
}
ul.items>li:last-child{
    // padding-top: 0.15rem;
    padding-bottom: 0.15rem;
}
ul.items>li:nth-child(2){
   
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef
}
span.name{
    font-size: 1.25rem;
    color: #000;
}
span.range{
    font-weight: 300;
    font-size: 1rem;
    color:#a2a2a2;
    padding-left:0.2rem ;

}
span.value{
    font-size: 1.25rem;
    // padding-left:2rem ;
    position: absolute;
    right: 2.5rem;
}
ul.items>li:nth-child(1)>span.value{
    color: #ffc800;
}
ul.items>li:nth-child(2)>span.value{
    color: #40dc7e;
}
ul.items>li:nth-child(3)>span.value{
    color: #4cc1ff;
}