<nb-card>
 

       <div class="tab-head">
         <label  (click)='show(key)' *ngFor="let key of data"  [class.selected]="key=== selectedKey" class={{key.class}}><i>{{key.content}}</i></label>
  
       </div>
       <div class="secleted-head">
        <div class="dropdown ghost-dropdown" placement="bottom" ngbDropdown>
          <button id="date-length" class="btn btn-success" type="button" ngbDropdownToggle>
                  {{CONTENT}}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
              <li class="dropdown-item" *ngFor="let key of data"  (click)="show2(key)">
                  {{key.content}}
              </li> 
          </ul>
      </div>
      </div>
       
       <div class="row">
          <div class="col-md-12" *ngIf='show_detail[0]' >
            <tw-ping-lost [Item]='data1'></tw-ping-lost>
           
          </div>
          <div class="col-md-12" *ngIf='show_detail[1]'>
            <tw-ping-delay [Item]='data1'></tw-ping-delay>
         
          </div>
          <div class="col-md-12" *ngIf='show_detail[2]'>
            <tw-mem-rate [Item]='data2'></tw-mem-rate>
         
          </div>
          <div class="col-md-12" *ngIf='show_detail[3]'>
            <tw-temp-change [Item]='data3'></tw-temp-change>
           
          </div>
          <div class="col-md-12" *ngIf='show_detail[4]'>
            <tw-cm-online [Item]='data4'></tw-cm-online>
          
          </div>
          <div class="col-md-12" *ngIf='show_detail[5]'>
            <tw-cmts-flow [Item]='data5'></tw-cmts-flow>
           
          </div>
          <div class="col-md-12" *ngIf='show_detail[6]'>
            <tw-cmts-npa [Item]='data6'></tw-cmts-npa>
          
          </div>
       </div>

 
  </nb-card>
  