<nb-card>
 

       <div class="tab-head">
         <label  (click)='show(key)' *ngFor="let key of data"  [class.selected]="key=== selectedKey" class={{key.class}}><i>{{key.content}}</i></label>
         <!-- <label  (click)='show()' [class.selected]="!show_detail"><i>Ping延时</i></label>
         <label  (click)='show()' [class.selected]="!show_detail"><i>内存</i></label>
         <label  (click)='show()' [class.selected]="!show_detail"><i>温度</i></label>
         <label  (click)='show()' [class.selected]="!show_detail"><i>CM在线数</i></label>
         <label  (click)='show()' [class.selected]="!show_detail"><i>流量</i></label>
         <label  (click)='show()' [class.selected]="!show_detail"><i>NPA</i></label> -->
       </div>
       
       <div class="row">
          <div class="col-md-12" *ngIf='show_detail[0]' >
            <div echarts [options]="options1"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[1]'>
            <div echarts [options]="options2"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[2]'>
            <div echarts [options]="options3"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[3]'>
            <div echarts [options]="options4"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[4]'>
            <div echarts [options]="options5"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[5]'>
            <div echarts [options]="options6"  class="echart"></div>
          </div>
          <div class="col-md-12" *ngIf='show_detail[6]'>
            <div echarts [options]="options7"  class="echart"></div>
          </div>
       </div>

 
  </nb-card>
  