<table class="table  tw_table">
  <tr>
    <td class="color_table">CMTS型号</td>
    <td >37_SBB_01_UBR10012</td>
    <td class="color_table">采集开关</td>
    <td>
      <ul>
        <li>ON</li>
        <li><div (click)='change()' class="switch_on" *ngIf='show_detail'></div></li>
        <li><div (click)='change()' [class.switch_box]="show_detail" class="box_normal"></div></li>
        <li><div (click)='change()' class="switch_off" *ngIf='!show_detail'></div></li>
        <li>OFF</li>
       </ul> 
    </td>
  </tr>
  <tr>
      <td class="color_table">CMTS名称</td>
      <td >cisco_上步北_01</td>
      <td class="color_table">NPA计算开关</td>
      <td>
          <ul>
             <li>ON</li>
             <li><div (click)='change()' class="switch_on" *ngIf='show_detail'></div></li>
             <li><div (click)='change()' [class.switch_box]="show_detail" class="box_normal"></div></li>
             <li><div (click)='change()' class="switch_off" *ngIf='!show_detail'></div></li>
             <li>OFF</li>
          </ul> 
      </td>
    </tr>
    <tr>
        <td class="color_table">运行时长</td>
        <td >7days,17:03:16.40</td>
        <td class="color_table">CMTS IP</td>
        <td >10.228.0.1</td>
      </tr>
      <tr>
          <td class="color_table">NPA</td>
          <td >92.3</td>
          <td class="color_table">当前上行速率(Mbps)</td>
          <td >666.792</td>
      </tr>
      <tr>
            <td class="color_table">Ping状态</td>
            <td ><i class="fa fa-circle green-circle"></i></td>
            <td class="color_table">最大上行速率(Mbps)</td>
            <td >1498.136</td>
      </tr>
      <tr>
            <td class="color_table">丢包率(%)</td>
            <td >0</td>
            <td class="color_table">当前下行速率(Mbps)</td>
            <td >108.008</td>
      </tr>
      <tr>
            <td class="color_table">延时(ms)</td>
            <td >17</td>
            <td class="color_table">最大下行速率(Mbps)</td>
            <td >310.736</td>
      </tr>
      <tr>
            <td class="color_table">延时(ms)</td>
            <td >17</td>
            <td class="color_table">最大下行速率(Mbps)</td>
            <td >310.736</td>
      </tr>
      <tr>
          <td class="color_table">系统描述</td>
          <td colspan="3">Cisco IOS Software，1000 Softw(UBR10K4-k9p6u2-M),Version(33)
              SCD7,RELEASE SOFTWARE(fc2)Technical Suppot:http://www.cisco.com/
              techsupport Copyright(c)1986-2011 by Cisco Systems,Inc.Compiled 
              Mon 04-Apr-11 18:59 by prod_rel_team 
          </td>
          
    </tr>
</table>
