<ul class="list" id="npa" *ngIf="npa_show">
  <li class="arrow"></li>
  <li *ngFor='let npa of npa'>
    <a>
      <span class="time">{{npa.time}}</span>
      <span class="npa_text">平均值<br>npa</span>
      <span class="npa_value">{{npa.value}}</span>
    </a>
  </li>
  <li class="seeMore" ><a routerLink='./'>查看更多></a></li>
</ul>

<ul class="list" id="alarm" *ngIf="alarm_show">
  <li class="arrow"></li>
  <li *ngFor='let item of alarm'>
    <a>
      <span class="alarm_name">{{item.name}}</span>
      <span class='alarm_value {{item.color}}'>{{item.value}}</span>
      </a>
  </li>
  <li class="seeMore" ><a routerLink='./'>查看更多></a></li>

</ul>