nb-card-body{
    padding: 0;
}
div{
    padding: 0;
    margin: 0;
}

.table-head{
    color:#fff; 
    font-size: 20px;
}
td{
    font-size: 20px;
}
.table-g{
    background-color:#5ce191;
}
.table-b{
    background-color:#4cc2ff;
}
.table-mini{
    font-size: 18px;
    font-weight: 500;
}
.table-yellow{
    background-color:#ffa400;
}
.table-purple{
    background-color:#957fff;
}
.td-g{
   color:#5ce191;
}
.td-b{
    color:#4cc2ff;
 }
 .td-yellow{
    color:#ffa400;
 }
 .td-purple{
    color:#957fff;
 }



