@import '../assets/icon/TopwayIcon/iconfont.css';
@font-face
{
font-family: hanzhenguangbiao;
src: url('../assets/font/hanzhenguangbiao.ttf'),
    //  url('Sansation_Light.eot'); /* IE9 */
}
$theme: (
    smart-table-header-bg: red,
)