// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
 
};

.nb-theme-default ng2-smart-table table tr th, .nb-theme-default ng2-smart-table table tr th a{
  color:#fff;
  font-weight: normal;
  font-size: 1.2rem

  
}
.nb-theme-default ng2-smart-table thead tr.ng2-smart-titles{
  background-color: #40dc7e
}
.nb-theme-default ng2-smart-table{
  text-align: center
}
