// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
 
};
//chai

.menu-items>.menu-item{
  font-size: 1rem;
  font-weight: 500;
}
.nb-theme-default nb-menu .menu-item a:hover, .nb-theme-default nb-menu .menu-item a.active{
  font-weight: 500;
}
.nb-theme-default nb-menu .menu-item .menu-icon{
  font-weight: 500;
  font-size: 2rem
}
@media (min-width:0px){
  .nb-theme-default nb-sidebar.fixed.right.collapsed + .content{
    top:3.7rem;
    position: relative;
  }
}
@media (min-width:500px){
  .nb-theme-default nb-sidebar.fixed.right.collapsed + .content{
    top:3.5rem;
  }
}
@media (min-width:768px){
  .nb-theme-default nb-sidebar.fixed.right.collapsed + .content{
    top:3rem;
  }
}
@media (min-width:992px){
  .nb-theme-default nb-sidebar.fixed.right.collapsed + .content{
    top:2.5rem
  }
}

//表头字体
.nb-theme-default ng2-smart-table table tr th, .nb-theme-default ng2-smart-table table tr th a{
  color:#fff;
  font-size: 1.2rem
}
.nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:hover, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:active, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:visited{
    color:#fff;
}
//表格背景
.nb-theme-default ng2-smart-table thead tr.ng2-smart-titles{
  background-color: #5ce191
}
//表格内容居中
.nb-theme-default ng2-smart-table{
  text-align: center;
  cursor: pointer;
}

ng2-smart-table-pager{
  justify-content: center!important;
}
@media (max-width:400px){
  ng2-smart-table-pager .page-link-next,ng2-smart-table-pager  .page-link-prev {
    display: none;
  }  
}
.nb-theme-default .custom-control .custom-control-description{
  color: #747474;
}
// @media (max-width:1600px){
  @media (max-height:800px){
    nb-layout.rotate-layout.with-search .scrollable-container{
      transform: perspective(1000px) translate3d(0, 55vh, 0) rotate3d(1, 0, 0, 30deg)!important;
    }
  }
  @media (max-height:700px){
    nb-layout.rotate-layout.with-search .scrollable-container{
      transform: perspective(1000px) translate3d(0, 60vh, 0) rotate3d(1, 0, 0, 30deg)!important;
    }
  }
  @media (max-height:600px){
    nb-layout.rotate-layout.with-search .scrollable-container{
      transform: perspective(1000px) translate3d(0, 70vh, 0) rotate3d(1, 0, 0, 30deg)!important;
    }
  }
 
  @media (max-height:500px){
    nb-layout.rotate-layout.with-search .scrollable-container{
      transform: perspective(1000px) translate3d(0, 85vh, 0) rotate3d(1, 0, 0, 30deg)!important;
    }
  }
  @media (max-height:400px){
    nb-layout.rotate-layout.with-search .scrollable-container{
      transform: perspective(1000px) translate3d(0, 100vh, 0) rotate3d(1, 0, 0, 30deg)!important;
    }
  }
// }

