// themes - our custom or/and out of the box themes
@import 'themes';

// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';

// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();
 
};
//chai
//表头字体
.nb-theme-default ng2-smart-table table tr th, .nb-theme-default ng2-smart-table table tr th a{
  color:#fff;
  font-size: 1.2rem
}
.nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:hover, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:active, .nb-theme-default ng2-smart-table table tr.ng2-smart-titles th a:visited{
    color:#fff;
}
//表格背景
.nb-theme-default ng2-smart-table thead tr.ng2-smart-titles{
  background-color: #5ce191
}
//表格内容居中
.nb-theme-default ng2-smart-table{
  text-align: center;
  cursor: pointer;
}

ng2-smart-table-pager{
  justify-content: center!important;
}
@media (max-width:400px){
  ng2-smart-table-pager .page-link-next,ng2-smart-table-pager  .page-link-prev {
    display: none;
  }  
}
