.box1{
    height: 240px;
    overflow: hidden;
}
.box2{
    height: 230px;
    overflow: hidden;
}
nb-card-body{
    padding-bottom:0; 
    

}
ul{
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
}
li{
    float: left;
    height: 60px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.Msg{
    width:28%;
    font-size: 22px;
    border-radius: 4px 0 0 4px;
    text-align: center;
    line-height: 60px;
    color: #fff;
}
.Msg-primary{
    background-image: linear-gradient(to right, #b57fff, #8a7fff);
    border:1px solid #a07fff;
}
.Msg-info{
    background-image: linear-gradient(to right, #4cc4ff, #4ca6ff);
    border:1px solid #4cb2ff;
}
.Msg-warning{
    background-image: linear-gradient(to right, #ffcc00, #ffa100);
    border:1px solid #ffb300;
}
.port-num{
    width:68%;
    font-size: 18px;
    background-color: #fff;
    border:1px solid #fff;
    border-radius: 8px;
    text-align: center;
    line-height: 58px;
}
.box-primary{
    width: 92%;
    height:64px;
    border-radius: 8px;
    border:2px solid #a07fff;
    margin: 0;
    margin-bottom:10px;
}
.box-info{
    width:  92%;
    height:64px;
    border-radius: 8px;
    border:2px solid #4cb2ff;
    margin-bottom:10px;
}
.box-warning{
    width: 92%;
    height:64px;
    border-radius: 8px;
    border:2px solid #ffb300;
    margin-bottom:10px;
}
.color{
    width: "80%";
}
@media screen and (max-width:1850px){
    .box2{
        height: 210px;
    }
}
@media screen and (max-width:1650px){
    .box2{
        height: 185px;
    }
}
@media screen and (max-width:1550px){
    .box2{
        height: 170px;
    }
}
@media screen and (max-width:1450px){
    .box1{
        height: 220px;
    }
    .box2{
        height: 160px;
    }
}
@media screen and (max-width:1450px){
    .box2{
        height: 145px;
    }
}
@media screen and (max-width:1050px){
    .box1{
        height: 190px;
    }
    .box2{
        height: 135px;
    }
}
@media screen and (max-width:992px){
    
    .box2{
        height: 180px;
    }
}
@media screen and (max-width:850px){
    
    .box2{
        height: 160px;
    }
}
@media screen and (max-width:750px){
    
    .box2{
        height: 145px;
    }
}
@media screen and (max-width:650px){
    .box1{
        height: 190px;
    }
    .box2{
        height: 130px;
    }
}

@media screen and (max-width:521px){
    .box1{
        height: 175px;
      
    }
    .box2{
        height: 130px; 
    }
  }

  @media screen and (max-width:440px){
    .box1{
        height: 130px; 
    }
    .box2{
        height: 105px;
    }
    
  }
  @media screen and (max-width:400px){
    .box1{
        height: 110px; 
    }
    .box2{
        height: 95px;
    }
    
  }

