
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>{{c_nickname | uppercase}} 详情</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class="col-md-4">
            <div class="box-primary">
              <ul class="link" routerLink="./cmts-upstream" [queryParams]="{cid:cid}">
                <li  class="Msg Msg-primary"><i>{{data.cmts_up_sum}}</i></li>
                <li class="port-num"><i>上行端口数</i></li>
              </ul>
              
            </div>
          </div>
          <div class=" col-md-4">
              <div class="box-info">
                <ul class="link" routerLink="./cmts-downstream" [queryParams]="{cid:cid}">
                  <li class="Msg Msg-info"><i>{{data.cmts_dow_sum}}</i></li>
                  <li class="port-num"><i>下行端口数</i></li>
                </ul>
              </div>
          </div>
          <div class=" col-md-4">
              <div class="box-warning">
                  <ul class="link" routerLink="./cmts-ethernet" [queryParams]="{cid:cid}">
                      <li class="Msg Msg-warning"><i>{{data.cmts_eth_sum}}</i></li>
                      <li class="port-num"><i>上联端口数</i></li>
                    </ul>
              </div>
             
          </div>
         
        </div>
      </nb-card-body>
      <nb-card-body>
        <div class="box1">
           <app-water-chart [Item]='data'></app-water-chart>
        </div>
       
      </nb-card-body>  
      <nb-card-body>  
          <div class="box2">
              <!-- <ngx-temperature></ngx-temperature> -->
              <tw-canvas-chart [Item]='data'></tw-canvas-chart>
           </div>
       
      </nb-card-body>
    </nb-card> 
  </div>
</div>

<div class="row"> 
   <div class="col-is-12">
     <nb-card>
      <tw-cmts-table [cid]="cid"></tw-cmts-table>
     </nb-card>
   </div>
</div>

<div class="row"> 
  <div class="col-md-12">
    <nb-card>
      <tw-cmts-collection-change [cid]="cid"></tw-cmts-collection-change>
    </nb-card>
  </div>
</div>
<div class="row"> 
    <div class="col-md-12">
      <nb-card>
        <tw-cmts-detail-charts [cid]='cid'></tw-cmts-detail-charts>
      </nb-card>
    </div>
  </div>
