
.box2{
    height: 260px;
}
nb-card-body{

    padding-bottom:0;  
}
.box-primary{
    width: 86%;
    border-radius: 8px;
    border:2px solid #a07fff;
}
.box-info{
    width:  86%;
    border-radius: 8px;
    border:2px solid #4cb2ff;
}
.box-warning{
    width: 86%;
    border-radius: 8px;
    border:2px solid #ffb300;
}
.color{
    width: "80%";
}
.Msg{
    font-size: 22px;
}
.port-num{
   
    font-size: 18px;
     text-align:center;
}