
<div class="row">
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>CMTS详细信息</nb-card-header>
      <nb-card-body>
        <div class="row">
          <div class=" col-md-4">
            <div class="box-primary">
              <button  class="btn btn-hero-primary color"><i class="Msg ">332</i></button>
              <span class="port-num">上行端口数</span>
            </div>
          </div>
          <div class=" col-md-4">
              <div class="box-info">
                <button  class="btn btn-hero-info btn-demo color"><i class="Msg">338</i></button>
                <span class="port-num">下行端口数</span>
              </div>
          </div>
          <div class=" col-md-4">
              <div class="box-warning">
                  <button  class="btn btn-hero-warning btn-demo"><i class="Msg">27</i></button>
                  <span class="port-num">上联端口数</span>
              </div>
             
          </div>
         
        </div>
      </nb-card-body>
      <nb-card-body>
        <app-water-chart></app-water-chart>
      </nb-card-body>
    </nb-card> 
  </div>
</div>

<div class="row"> 
   <div class="col-md-12">
     <nb-card>
       <table>
         <tr>
           <td>CMTS型号</td>
           <td>CMTS型号</td>
         </tr>
       </table>
     </nb-card>
   </div>
</div>
