

.container{  
    width:100%;  
    position:relative;  
    display: inline-block;  
    padding: 0;
}  
.container:after{  
    content:'';  
    display: block;  
    margin-top: 66%;  
}  
.content{  
  
    position:absolute;  
    left:0;  
    right:0;  
    top:0;  
    bottom: 0;  
}

canvas{
   
    width: 66%;
    height: 100.6%;
    position: absolute;
    margin: 0 auto;
    margin-left: 17%;
   
}
.value{
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: Exo;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
    margin-top:20%;   
}
.value{
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: Exo;
    font-size: 30px;
    font-weight: 500;
    margin: 0 auto;
    margin-top:24%;   
}
.desc{
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 300;
    margin: 0 auto;
    margin-top:36%;   
}
.power-bg{
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 36px;
    margin-top:46%;  
}
