<div class="row">
    <div class="col-4 col-is-4 col-md-4">
        <div class='container'>  
            <div class='content'>
                <canvas #canvas1 ></canvas>
                <div class="value">{{cpu_value}}%</div>
                <div class="desc">{{desc1}}</div>
                
            </div>  
        </div>  
        
    </div>

    <div class="col-4 col-is-4 col-md-4">
        <div class='container'>  
            <div class='content'>
                <canvas #canvas2></canvas>
                <div class="value">{{mem_value}}%</div>
                <div class="desc">{{desc2}}</div>
                
            </div>  
        </div>  
    </div>

    <div class="col-4 col-is-4 col-md-4">
        <div class='container'>  
            <div class='content'>
                <canvas #canvas3></canvas>
                <div class="value">{{temp_value}}°</div>
                <div class="desc">{{desc3}}</div>
               
            </div>  
        </div>  
    </div>
</div>
