i.fa.fa-circle.red{
    color: #fb4765;
}
i.fa.fa-circle.orange{
    color: #ffa400;
}
i.fa.fa-circle.yellow{
    color: #fddc42;
}
i.fa.fa-circle.fa.fa-circle.green{
    color: #5ce191;
}
i.fa.fa-circle.blue{
    color: #4cc2ff;
}
i.fa.fa-circle.grey{
    color: #a2a2a2;
}
