#search_div{
    height: 50vh;
    width: 100%;
    background-color: #ebeff5;
    position: absolute;top:0;
    z-index: 1;
    text-align: center;
}
#search{
    border-bottom: 3px solid #b7b7b7;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background: transparent;
    border-radius: 0;
    line-height: 1;
    display: inline-block;
    box-sizing: border-box;
    padding: 0.05rem 0;
    -webkit-appearance: none;
    width: 65%;
    font-size: 5vw;
    color: #929292;
    font-weight: 400;
    margin-top: 3vh;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0.5rem;
}

#search:focus{
    outline: none;
}
#items{
    width: 65%;
    margin-top: 8vh;
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    display: inline-block;
}
@media (max-width:992px){
    #items{
     
        width: 80%;
    }
}
@media (max-width:768px){
    #items{
        text-align: center;
        width: 90%;
    }
}
#items button{
    margin-top: 2vh;
}
#items button.selected{
    border-color: #40dc7e;
    color: #40dc7e;
}
#result{
    width: 65%;
    background-color: rgba(251,251,251, 0.45);
    border:rgba(223,223,223, 0.45) 1px solid;
    display: inline-block;
    color: #6d6d6d;
    text-align: left;
    font-size: 20px;
    padding-left: 0;
}
#result>li{
    list-style-type:none;
    padding: 0.5rem 0.5rem 0rem 1rem;
    cursor: pointer;
   
}
#result>li:nth-last-child(1){
    margin-bottom: 1rem
}

#result>li:visited,#result>li:hover,#result>li:active{
   color:#737373;
   background-color: #e6e9ec;
}
#result>li:focus{
    outline: none;
    color:#737373;
   background-color: #e6e9ec;
 }
 .searchHistory{
     color: #3a3a3a;
     font-size: 75%;
 }
i#close{
    font-size: 3rem;
    color: rgb(158, 158, 158);
    position: absolute;
    right: 1.5rem;
    top:0.5rem;
    cursor: pointer;
}


.btn,.btn:focus,.btn:hover{
    color: #a4a4a4;
    border: #c3c3c3 2px solid;
    border-radius: 5px;
    background-color: #ebeff5;
    margin-left: 1%;
    margin-right: 1%;
    height: 46px;
    padding-left: 1rem;
    padding-right: 1rem;
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255,0);
    cursor: pointer;
    // font-size: 20px
}


input::-webkit-input-placeholder { /* WebKit browsers */ 
    color: #d0cfcf; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color:  #d0cfcf; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color:  #d0cfcf; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color:  #d0cfcf; 
}
@media (max-width:575px){
    input::-webkit-input-placeholder { /* WebKit browsers */ 
        color: #a1a1a1; 
    } 
    input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
        color:  #a1a1a1; 
    } 
    input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
        color:  #a1a1a1; 
    } 
    input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
        color:  #a1a1a1; 
    }
}
@media (min-width:992px){
    #search{
        font-size: 3vw;
    }
}


.btn:focus{
    outline: none;
}
.btn:disabled{
    cursor: not-allowed
}

.input-group.has-person-icon {
    position: relative;
    display: inline-block;
    right: -2.7rem;
    pointer-events: none;
    &::after {
      content: '\E90C';
      cursor: pointer;
      font-family: 'nebular';
      font-size: 80px;
      position: relative;
      z-index: 100;
      right: 5.2rem;
      background-color: #5ce191;
      color: #fff;
      border-radius: 5px;
      top: 0.25rem;
      pointer-events: auto;
    }
    @media (max-width:1600px) {
        right: -2.2vw;
        &::after {
            font-size: 4vw;
            right: 4.4vw;
        } 
    }
    @media (max-width:992px) {
        right: -4vw;
        &::after {
            font-size: 7vw;
            right: 8vw;
        } 
    }
   
  }
  .input-group.has-person-icon>input{
    pointer-events: auto  ;
  }
  i.nb-search{
     font-weight: 700;
     color: #929292;
 }
